<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/cdd/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actions-3</title>
    <!-- Script injetado pelo servidor Node.js que expõe window.ENV -->
    <script src="/env.js"></script>
    <script type="module" crossorigin src="/cdd/assets/index-Djix9sOV.js"></script>
    <link rel="stylesheet" crossorigin href="/cdd/assets/index-CXFGYzMz.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>